.wrapper {
    width: 80%;
    margin: 0 auto;
}

footer h5{
    text-align:center;
}

.ms_container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.ms_active {
    color: black;
    border-bottom: 2px solid black;
}